<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/infusion.css" id="theme">
        
		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			    
			    <!-- Title Side -->
                <section>
			        <div class="title">
			            <h1>jQueryTO in 50 minutes</h1>
			            <h3>Interesting bits from jQueryTO 2014</h3>
			            <p>
			                by Arash, Bora, Chris B., Eden, Emil, Ernesto, Ivan, Lester, Jon W, and Maciek
			            </p>
			        </div>
			    </section>
                
                <!-- What is jqueryTO -->
                <section data-background="http://jqueryto.com/assets/img/masthead.jpg">
					<h1 style="color: #eeeeee;">jQueryTO</h1>
					<h3 style="color: #eeeeee;">Canada's Largest Javascript Conference</h3>
                     <aside class="notes">
                        10 of us ...
					</aside>
				</section>
                
                <section>
                    <h3>jQueryTO is the second largest JavaScript Conference in the World</h3>
                    <br/>
                    <p class="fragment">700 attendees</p>
                    
                    <p class="fragment">2 days</p>
                    
                    <p class="fragment">With speakers from:</p>
                    <ul>
                        <li class="fragment">JQuery</li>
                        <li class="fragment">Netflix</li>
                        <li class="fragment">rdio</li>
                        <li class="fragment">Mozilla</li>
                        <li class="fragment">Tumblr</li>
                    </ul>
                    
                    <aside class="notes">
                        700 attendees
                        2 days
                        JQuery, Netflix, rdio, Mozilla, and Tumblr
					</aside>
                </section>
                
                
                
                <!-- How this presentation is going to work -->
                <section>
					<h2>How is this crazy thing going to work?</h2>
                    <br/>
                    <p class="fragment">
                        10 presenters                       
                    </p>
                    <br/>
                    <p class="fragment">
                        5 minutes each
                    </p>
                    <br/>
                    <p class="fragment">
                        with a Count down clock!
                    </p>
                    

                    <aside class="notes">
                        10 Presenters, 5 mins each, How?... with a countdown clock.
					</aside>
                </section>
                
                
                
                


			    <!-- Chris' Section - Reveal.js -->
			    <section>
			        <div class="title">
			            <h1>Chris B</h1>
			        </div>
			    </section>
			    
                <section>
			        <h1>Reveal.js</h1>
                    <h4>The HTML presentaion framework</h4><br />
                    <p>BY Hakim El Hattab / hakim.se</p>
                    <a href="https://github.com/hakimel/reveal.js">https://github.com/hakimel/reveal.js</a>
			    </section>
                
                <section>
			        <h4>What is Reveal.js</h4>
                    <p>HTML, JS, CSS Frmaework for creating beatiful cross platform presentations</p><br />
                    <p>with support for CSS 3D transformations</p><br />
                    <p>Degrades gracefully to support almost any browser desktop or mobile</p>
			    </section>
                
			    <section>
			        <h4>Most of the presenters were using a forein presentation system</h4>
			        <br/>
                    <h3 class="fragment">What is this thing?</h3>
                    <br/>
                    <h3 class="fragment">Reveal.js!</h3>
			    </section>
                
			    <section>
			        
			        <h4>What makes it special?</h4>
			        <ul>
			            <li class="fragment">No special software needed</li>
			            <li class="fragment">Truely portable and platform agnostic</li>
			            <li class="fragment">Easy to share</li>

			            <li class="fragment">No Powerpoint</li>
			            <li class="fragment">FREE!</li>
			        </ul>

			        <aside class="notes">
			            <ul>
			                <li>No special software needed</li>
			                <li>truely portable and platform agnostic</li>
			                <li>Easy to share</li>

			                <li>No Powerpoint</li>
			                <li>FREE!</li>
			            </ul>
			        </aside>
			    </section>


			    <section>
			        <h2>Markdown</h2><br />
			        <h4>Not a developer?</h4>
			        <h4>don't like HTML</h4>
			        <h4>Reveal.js supports Markdown</h4><br />
			        <p>Markdown is a way to write things in a natural way that gets marked down to HTML.</p>

			        <pre><code data-trim contenteditable>
## Markdown support

For those of you who like that sort of thing.
Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).

                    </code></pre>
			    </section>
                
               
                <section>
                    <h2>You can export your presentation as a PDF</h2>
                    <p>Just press add ?print-pdf to the URL</p>
                    <aside class="notes">
					</aside>
			    </section>
                
                <section>
                    <h2>Fragments?</h2>
                    
                    <p class="fragment">It</p>
                    <br />
                    <p class="fragment">does</p>
                    <br />
                    <p class="fragment">fragmented</p>
                    <br />
                    <p class="fragment">views!</p>
                    <br />
                    <p class="fragment">Just add  class="fragment" to your element</p>
                    <aside class="notes">
					</aside>
			    </section>
                

			   <section>
					<h2>Pretty Code</h2>
					<pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
					</code></pre>
					<p>Courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

                <section>
					<h2>Pause Mode</h2>
                    <img src="http://musicandeverything.files.wordpress.com/2013/09/download.jpg" />
					<p>
						Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
						during a presentation.
					</p>
				</section>
                
                <section>
                    <h2>Zoom Out</h2><br />
                    <h4>Press esc</h4>
				</section>
                
                
                <section>
					<h2>Slides HTML</h2>
					<pre><code data-trim contenteditable>
&lt;section&gt;
    &lt;h2&gt;Pause Mode&lt;/h2&gt;
    &lt;img src=&quot;http://musicandeverything.files.wordpress.com/2013/09/download.jpg&quot; /&gt;
    &lt;p&gt;
    	Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
	    during a presentation.
    &lt;/p&gt;
&lt;/section&gt;
					</code></pre>
				</section>
                
			    <section>
			        <h2>Reflections on Reveal.js</h2>
			        <ul>
			            <li class="fragment">Wonderfully collaborative</li>
			            <li class="fragment">As a dev, use all the same tools</li>
                        <li class="fragment">There is an API for navigation, Leap motion</li>
			            <li class="fragment">Don't like something? It's open source, change anything</li>
			            <li class="fragment">Not WYSIWYG -> http://slid.es/</li>
			        </ul>
			    </section>
                
                
			    <!-- Ivan's Section -->
			    <section>
			        <div class="title">
			            <h1>Ivan</h1>
			        </div>
			    </section>
                    <section>
                        <h1>WebRTC</h1>
                        <h3>By: Ivan Joukov</h3>
                    </section>
                    <section>
                        <section>
                            <h1>WebRTC</h1>
                            <h2>What is it?</h2>
                            <p>WebRTC is a free, open project that enables web browsers with Real-Time Communications (RTC) capabilities via simple JavaScript APIs. The WebRTC components have been optimized to best serve this purpose.</p>
                            [Source: <a href="http://webrtc.org">webrtc.org</a>]
                        </section>
                        <section>
                            <h2>In English?</h2>
                            <ul>
                                <li>
                                    An easy way to do rich peer to peer communications right in the browser<ul><li>Data exchange</li><li>Real Time Audio</li><li>Real Time Video</li></ul>
                                </li>
                                <li>All just in your browsers (no plugins, apps, extensions..)</li>
                                <li>(Almost) no server required!</li>
                            </ul>
                        </section>
                        <section>
                            <h2>How easy?</h2>
                            <p>I made a real time 'live coding' tool using webRTC in under an hour - with audio chat</p>
                        </section>
                    </section>

                    <section>
                        <h2>What's the catch?</h2>
                        <ul>
                            <li class="fragment">
                               Limited browser support (for now).  In particular,  no IE or mobile browser support.  Android Chrome Beta!
                            </li>
                            <li class="fragment">
                               If both peers are behind a symmetrical NAT a connection is impossible.
                            </li>
                            <li class="fragment">
                               You miss out on some great features a server can provide.
                                <ul><li>Cross session chat history</li><li>Conference calling with more than 2 users</li><li>Sending messages to offline users</li></ul>
                            </li>
                        </ul>
                    </section>

                <section>
                    <section>
                    <h2>How it works</h2>
                    <ul>
                            <li class="fragment">
                                Supporting browsers provide JS APIs for establishing connections (PeerConnection), transferring data between peers, and working with streams (MediaStream)
                            </li>
                            <li class="fragment">
                               Get media streams using getUserMedia()
                            </li>
                            <li class="fragment">
                                Use ICE, STUN or TURN servers to establish the connection and do handshakes
                            </li>
                        </ul>
                    </section>
                    <section>
                        <img src="http://www.html5rocks.com/en/tutorials/webrtc/basics/dataPathways.png"/>
                        [Source: <a href="http://www.html5rocks.com/en/tutorials/webrtc/basics/">HTML5Rocks</a>]
                    </section>
                </section>

                <section>
                    <h2>Sounds hard?</h2>
                    There are JS libraries springing up to abstract away the details.  One good one I've used is PeerJS.
                    Other Key Resources:
                    <ul>
                        <li><a href="http://www.webrtc.org">WebRTC.org</a></li>
                        <li><a href="http://www.html5rocks.com/en/tutorials/webrtc/basics/">HTML5Rocks</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/API/WebRTC/WebRTC_basics">Mozilla Developer Network</a></li>
                    </ul>
                </section>

                <section>
                    <h2>What are you waiting for?</h2>
                   It's free, it's open source, it's cross platform, it's cool.  Go try it!

                    <p>Questions?</p>
                </section>
                
                <!-- End Ivan's slides-->

                
			    <section>
			        <div class="title">
			            <h1>Jon W</h1>
			            <br />
                        <h2>Not ready</h2>
			            </div>
			    </section>
			 
                

                <!-- Bora - Web Usability on a Budget  -->
                <section>
			        <div class="title">
			            <h1>Bora</h1>
			        </div>
			    </section>
                <!-- Bora -Slide 1  -->
                <section data-background="img/bora/bg.png" class="whiteText">
                    <h1>Web Usability on a Budget</h1>
                    <img width="220" height="215" src="img/bora/caveman.jpg" alt="Caveman">
                </section>
                
                <!-- Bora -Slide 2  -->
                <section data-background="img/bora/bg.png" class="whiteText">
                    <h1>Usable UI, you say?</h1>
                    <h2 class="fragment">Not Usable:</h2> <br/>
                    <div class="fragment">
                        <img class="nodefaultimg"  align="right" width="200" height="151" src="img/bora/chang-200.png" alt="What"><p align="left" >Frustrating, slow, cluttered, too many options, too few options, no clear direction, confusing </p>
                    </div>
                    <br/>
                    <br/>
                    <h2 class="fragment">Usable:</h2> <br/>
                    <div class="fragment">
                        <img class="nodefaultimg"  align="left" width="200" height="151" src="img/bora/obama-200.png" alt="Not Bad"><p align="left">Pleasing UI, inviting, right balance of options, clear direction, uncluttered, clean.</p> <br/>
                    </div>
                </section>
                
                <!-- Bora -Slide 3  -->
                <section data-background="img/bora/bg.png" class="whiteText">
                    <section>
                        <p>Scroll down to follow Usability Principles.</p>
                        <a href="#" class="image navigate-down">
                            <img width="178" height="238" src="img/bora/down-arrow.png" alt="Down arrow">
                        </a>
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Focus on your users and their goals.
                                <ul>
                                    <li>Who is using your software?</li>
                                    <li>Why are they using your software?</li>
                                    <li>What other applications do they normally use?</li>
                                </ul>
                            </li>                            
                        </ul>
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Talk like your users.
                                <ul>
                                    <li>Identify the core concepts they use.</li>
                                    <li>Integrate their business terms into your application.</li>                                    
                                </ul>
                            </li>                            
                        </ul>
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Follow conventions.
                                <ul>
                                    <li>Be consistent in your layout and control placements.</li>                                    
                                </ul>
                            </li>                            
                        </ul>
                        <img width="820" height="460" src="img/bora/dashboards-sample.png" alt="Dashboards Sample">
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Minimize the cost of failure.
                                <ul>
                                    <li>Ask confirmation before a major operation, OR</li>
                                    <li>Provide "undo" mechanism after an important operation.</li>                                    
                                </ul>
                            </li>                            
                        </ul>
                        <img width="450" height="434" src="img/bora/gmail-undo-send.jpg" alt="Undo Sample">
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Provide "affordance".
                                <ul>
                                    <li>"a situation where an object's sensory characteristics intuitively imply its functionality and use."</li>                                    
                                </ul>
                            </li>                            
                        </ul>
                        <img width="860" height="564" src="img/bora/affordance-fail.png" alt="Affordance Fail Sample">
                    </section>
                    <section class="whiteText">
                        <h1>Usability Principles</h1>
                        <ul>
                            <li>Use symbology (icons)
                                <ul>
                                    <li>... but be careful and do not use them without tooltips or text!</li>                                    
                                </ul>
                            </li>                            
                        </ul>
                        <img width="820" height="452" src="img/bora/icons.png" alt="Icons Sample">
                    </section>
                    <section class="whiteText">
                    <h1>Usability Principles</h1>
                        <ul>
                            <li>Some links:
                                <ul>
                                    <li>icomoon.io: Free modifiable icon library</li>
                                    <li>wireframe.cc: Online wireframing tool </li>
                                    <li>dribbble.com/tags/ux: UX related links/ideas</li>
                                    <li>uxdesign.smashingmagazine.com: UX related articles</li>                                    
                                </ul>
                            </li>                            
                        </ul>                        
                    </section>
                </section>

                <!-- //BORA -->
			    
			    
                
			    <!-- Emil's section -->
                <section>
			        <div class="title">
			            <h1>Emil</h1>
			        </div>
			    </section>
                
                <section>
                    <h3>Javascript on the Move</h3>
                    <br />
                    <p class="fragment">
                        Javascript is no longer limited to just Web development platforms.
                    </p>
                     <ul>
                        <li class="fragment">Johnny-Five!</li>
                        <li class="fragment">arduino and node.js can be used to create robots</li>
                        <li class="fragment">Paired with jQuery's new Pointer API and a camera, Web apps can extend beyound the browser</li>
                        <li class="fragment">https://www.youtube.com/watch?v=2rPWArKq878</li>
                    </ul>                    
                </section>

                <section>
                    <h3>The Second Screen</h3>
                    <br />
                    <p class="fragment">
                        Most households have multiple TVs and other digial devices.
                    </p>
                    <ul>
                        <li class="fragment">Javascript and Websockets is allowing for easier device connectivity</li>
                        <li class="fragment">remote control media center from a phone</li>
                        <li class="fragment">playing MMORPG using phone, tablet and computer display</li>
                    </ul>
                </section>

                <section>
                    <h3>Javascript is changing the world</h3>
                    <br />
                    <p>
                        Javascript is becoming a new interoperability standard.
                    </p>
                    <ul>
                        <li class="fragment">Nothing new</li>
                        <li class="fragment">Javascript not restristed or limited to a platform (Windows, Mac, Linux)</li>
                        <li class="fragment">Not just a Web technology</li>
                        <li class="fragment">Web is starting to interact with the outside world</li>
                    </ul>
                </section>

                <section>
                    <h3>So what!</h3>
                    <br />
                    <p class="fragment">As Web developers we have more options today then yesterday.
                    </p>
                </section>



                
			    
			    
                
			    <!-- Start Ernesto -->
                <section>
			        <div class="title">
			            <h1>Ernesto</h1>
			        </div>
			    </section>
				 <section>
					<h4>Improving Performance with Responsive Images</h4>
					
					<img src="http://responsiveimages.org/img/devices.gif" alt="Responsive images">
				 </section>

				<section>
					<h2>What is not a responsive image?</h2>
					<br>
					<div class="fragment">
						<p>Serve one big image and let the browser scale it?</p>
					</div>
					<br>
					<div class="fragment">
						<ul>
							<li>Bigger page size</li>
							<li>More power consumption</li>
							<li>Larger load times</li>
						</ul>
					</div>
				</section>
				<section>
					<h2>What is a responsive image?</h2>
					<br>
					
					<div class="fragment">
						<p>Serve an appropriate image to each user/device</p>
					</div>
					<br>
					<div class="fragment">
						<ul>
							<li>Screen resolution</li>
							<li>Device viewport</li>
							<li>Device pixel ratio</li>
							<li>Media type</li>
							<li>Art direction</li>
						</ul>
					</div>
				</section>	
				<section>
					<h2>The <i>srcset</i> attribute</h2>
					<br>					
						<p>The <i>srcset</i> attribute is an extension to the <i>img</i> and <i>source</i> elements that provides a concice method for delivering
						high-res assets to high-density displays only, while allowing the user to override requests based on a preference
						or available bandwidth.</p>
						<br>
					<div class="fragment">
						<pre><code data-trim contenteditable>
<img src="fallback.jpg" alt="" srcset="photo.jpg 1x, photo-hd.jpg 2x">
						</code></pre>		
					</div>						
				</section>

				<section>
					<h2>The <i>picture</i> element</h2>
					<br>					
						<p>The picture element is a markup pattern that allows developers to declare multiple sources for an image. 
						By using media queries, it gives developers control as to when and if those images are presented to the user.</p>
						<br>
					<div class="fragment">
						<pre><code data-trim contenteditable>
<picture>
	<source type="image/webp" srcset="dogs-1.webp, dogs-2.webp 2x">
	<source media="(min-width: 40em)" srcset="big.jpg 1x, big-hd.jpg 2x">
	<source srcset="small.jpg 1x, small-hd.jpg 2x">
	<img src="fallback.jpg" alt="">
</picture>
						</code></pre>		
					</div>						
				</section>
				
				<section>
					<h2>Implementation status</h2>
					<ul>
						<li><strong>Blink / Chrome</strong>
						<ul>
							<li>Picture: ASSIGNED (in work)</li>
							<li>srcset: IMPLEMENTED/SHIPPED</li>
						</ul>
						</li>
						<li><strong>WebKit / Safari</strong>
						<ul>
							<li>Picture: UNCONFIRMED (not implemented)</li>
							<li>srcset: IMPLEMENTED</li>
						</ul>
						</li>
						<li><strong>Mozilla Firefox</strong>
						<ul>
							<li>Picture: ASSIGNED (but not implemented)</li>
							<li>srcset: OPEN (but not implemented)</li>
						</ul>
						</li>
						<li><strong>Microsoft Internet Explorer</strong>
						<ul>
							<li>Picture: NO INFORMATION</li>
							<li>srcset: NO INFORMATION</li>
						</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Alternatives</h3>
					<br>
					<ul>
						<li>
							<ul>
								<li>github.com/scottjehl/pictureﬁll: Pictureﬁll</li>
								<li>github.com/stowball/rwd.images.js: rwd.images.js</li>
								<li>github.com/BBC-News/Imager.js: BBC News Imager</li>                              
							</ul>
						</li>                            
					</ul>                        
				</section>	
			
				<section>
					<h1>Be responsive!</h1>
				    <br />
					
					<ul>
						<li>www.abookapart.com/products/responsive-web-design: Responsive web design book</li>
						<li>alistapart.com/article/responsive-web-design: Responsive web design paper </li>
						<li>picture.responsiveimages.org: Picture element spec</li>
						<li>www.w3.org/html/wg/drafts/srcset/w3c-srcset: srcset attribute spec</li>
						<li>responsiveimages.org: Responsive images group</li>                                    
					</ul>
					
					
				</section>
                
                
                
                
                
                <!-- Arah -->
			    <section>
			        <div class="title">
			            <h1>Arash</h1>
			        </div>
			    </section>
                
				<section>
					<h2> <i>AngularJS:</i></h2>
					<br>
					 <p>Why we should use it? What is it's benefit in web development?</p>
					<br>					
						<ul>
								<li>Makes MVVM pattern available in JS.</li>
								<li>Makes easy UI automated unit testing possible.(By use of Dependency Injection) </li>
								<li>Makes web apps more responsive (similar to native apps).</li>
								<li>Less interaction to server-side. Can handle most UI user interactions in the browser side.</li>
								                           
					   </ul>

						<br>
							
				</section>
				<section>
					<h2> <i>Features of angularJS:</i></h2>
					<br>
					<ul>
								<li>Templating and Data Binding</li>
								<li>Dependency Injection </li>
								<li>Url Routing</li>
								
								                           
					</ul>
					
			    </section>
				<section>
					<h2><i>Templating</i></h2>
					<br>
					<p>you can bind the HTML elements and tags with your model variables and the updates/refresh of UI happens bi-directionally. If model value change UI gets updated and the other way around.</p>
					<br>					
						<ul>
								<li>ng-repeat used for loops constructions. </li>
								<li>ng-app defines the scope for module defined. </li>
								<li>ng-Controller defines what controller should be used.</li>
								<li>ng-Click attach a click function defined in controller .</li>
							    <li>ng-href binds to anchor tag href attribute</li>
							    <li>Many more OOTB directives</li>	                           
					   </ul>
				</section>
				<section>
					<h2><i>Templating: HTML code</i></h2>
					<br />
					<div class="fragment">
						<pre><code style="height: 100%;">
&lt;html ng-app=&quot;myApp&quot;&gt;
    &lt;head&gt;
        &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;controller.js&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;div ng-controller=&quot;GreetingController&quot;&gt;
        &lt;ul&gt;
            &lt;li ng-repeat=&quot;friend in friends&quot;&gt;
                name: {{ friend.name }}
                nickname: {{friend.nickname}}
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;div  ng-click=&quot;add()&quot;&gt;Add&lt;/div&gt;
    &lt;/div&gt;

    &lt;/body&gt;
&lt;/html&gt;
						</code></pre>		
					</div>	
			    </section>			
				<section>
					<h2><i>Templating: JS code</i></h2>
					<br />
					<div class="fragment">
						<pre><code>
var myApp = angular.module('myApp',[]);
myApp.controller('GreetingController', ['$scope', function($scope) {
$scope.friends = [
                    {
                        id: 1, name: "Tricia", nickname: "Nickname1"
                    },
                    {
                        id: 2, name: "Joanna", nickname: "Nickname2"
                    },
                    {
                        id: 3, name: "Kit", nickname: "Sparky"
                    }
                ];
    $scope.add = function() {
        $scope.friends.push({id:4,name:'arash',nickname:'arashnickname'});
    };
}]);
						</code></pre>		
					</div>	
			    </section>		
				<section>
					<h2><i>Custom Template: Can be used to create re-usable html templates</i></h2>
					<div class="fragment">
						<pre><code data-trim contenteditable>
&lt;html ng-app=&quot;docsSimpleDirective&quot;&gt;
        &lt;head&gt;
            &lt;script type=&quot;text/javascript&quot; src=&quot;http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js&quot;&gt;&lt;/script&gt;
            &lt;script type=&quot;text/javascript&quot; src=&quot;controller.js&quot;&gt;&lt;/script&gt;
        &lt;/head&gt;
        &lt;body&gt;
        &lt;div ng-controller=&quot;Ctrl&quot;&gt;
            &lt;div my-customer&gt;&lt;/div&gt;
            &lt;div my-customer&gt;&lt;/div&gt;
            &lt;div my-customer&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;							  

						</code></pre>		
					</div>
				</section>
				<section>
					<h2><i>Custom Template</i></h2>
					<div class="fragment">
						<pre><code data-trim contenteditable>
							  angular.module('docsSimpleDirective', [])
                                   .controller('Ctrl', function($scope) {
                                          $scope.customer = {
                                               name: 'Naomi',
                                               address: '1600 Amphitheatre'
                                           };
                                        })
                                          .directive('myCustomer', function() {
                                               return {
                                                  template: 'Name: {{customer.name}} Address: {{customer.address}}'
                                               };
                                         });

						</code></pre>		
					</div>
				</section>	
				<section>
					<h2><i>Dependency Injection:</i></h2>
					<p>Dependency Injection is the design patter where the objects do not instantiate their dependencies, Instead the framework
   passes their dependencies to them.</p>
					<br />
					<div class="fragment">
						<pre><code data-trim contenteditable>
&lt;html ng-app=&quot;myModule&quot;&gt;
    &lt;head&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js&quot;&gt;&lt;/script&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;DI.js&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;div ng-controller=&quot;MyController&quot;&gt;
        &lt;button ng-click=&quot;sayHello()&quot;&gt;Hello&lt;/button&gt;
    &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;							  
						</code></pre>		
					</div>
				</section>	
				<section>
					<h2><i>Dependency Injection:</i></h2>
					<p>Using Angular OOTB injector implicitly. Angular default injector subsystem takes care of dependency injection when controller is created</p>
					<br />
					<div class="fragment">
						<pre><code data-trim contenteditable>
							angular.module('myModule', [])
							         .factory('greeter', function($window) {
                                          return {
                                              greet: function(text) {
                                                  $window.alert(text);
                                               }
                                         };
                                     })
							           .controller('MyController', function($scope, greeter) {
                                               $scope.sayHello = function() {
                                               greeter.greet('Hello World');
                                         };
                                     });  
						</code></pre>		
					</div>
				</section>
				<section>
					<h2><i>Dependency Injection:</i></h2>
					<p>Dynamically inject a service to controller</p>
					<br />
					<div class="fragment">
						<pre><code data-trim contenteditable>
							angular.module('myModule', []).factory('greeter', function($window) {
                                    return {
                                       greet: function(text) {
                                            $window.alert(text);
                                     }
                                 };
                            })
							  .controller('MyController', function($scope, $injector) {
                                     $scope.sayHello = function() {
                                             $injector.get('greeter').greet('hello worldcc'); 
                                     };
                            });
   
						</code></pre>		
					</div>
				</section>	
				<section>
					<h2><i>Useful tutorial links</i></h2>
					<br />
					<ul>
								<li>http://angularjs.org/ </li>
								<li>https://github.com/jmcunningham/AngularJS-Learning </li>
								
					   </ul>

						<br>
			    </section>
                
                


			    <!-- Eden's Section -->
                <section>
			        <div class="title">
			            <h1>Eden</h1>
			        </div>
			    </section>
                
			    <section>
					<h2>The State of jQuery</h2>
                    <ul>
                        <li>
                            January 2013: jQuery 1.9 and 2.0 
                            <ul>
                                <li>The same API, but 2.x branch drops support for IE6-8</li>
                                <li>12% smaller, so optimal for modern/mobile web apps</li>
                            </ul>
                        </li>
                        <li>
                            January 2014: jQuery 1.11 and 2.1
                            <ul>
                                <li>Performance optimzation</li>
                                <li>Available on npm and Bower (package managers)</li>
                            </ul>
                        </li>
                    </ul>
                </section>

				<section>
					<h2>jQuery 1.13</h2>
					<p>
                        With Microsoft no longer supporting Windows XP,
                        <br />jQuery 1.x drops supports for IE6 and 7
                    </p>
                    <div class="fragment" style="margin-top: 0.5em">
                        <p>
                            <strong>Don't worry, not happening until early 2015</strong>
                            <small>
                                You can continue to use jQuery 1.12
                                <br />Make sure you include a specific version. No jquery-latest.js!
                            </small>
                        </p>
                    </div>
                </section>

				<section>
					<h3>jQuery UI 1.12</h3>
                    <p>
                        Button, Slider, Flipswitch, Textinput from Mobile merge into UI
                        <small>All widgets from jQuery Mobile will eventually be merged into jQuery UI</small>
                    </p>
                    <p>High contrast mode</p>
                </section>
                
                <section>
                    <h3>jQuery UI 1.13</h3>
                    <p>
                        Along with jQuery, jQuery UI drops support for IE6 and 7
                    </p>
                    <p>
                        Supports the pointer events to unify mouse, touch, and pointer support
                        <small>Pointer events created by Microsoft will be supported by Firefox and Chrome... but not by Safari!</small>
                    </p>
                    <p>
                        Rewrite of Globalize to use Unicode CLDR
                        <small>"The Unicode CLDR provides key building blocks for software to support the world's languages,<br />with the largest and most extensive standard repository of locale data available"</small>
					</p>
				</section>
                
                
                
                
                <!-- LESTER -->
			    <section>
			        <div class="title">
			            <h1>Lester</h1>
			        </div>
			    </section>
                
                <section>
					<h1>Taking Javascript Offline</h1>
					<p>Using the HTML5 Application Cache<p>
				</section>
				
				<section>
					<h2>So what is it?</h2>
					<p class="fragment">An interface to specify resources that the browser should cache and make available to offline users</p>
				</section>
				
				<section>
					<h2>So why use it?</h2>
					<ul class="fragment">
						<li>Improved user experience</li>
						<li>Increased speed</li>
						<li>Ability to work offline</li>
					</ul>
				</section>
				
				<section>
					<h2>Pain Points</h2>
					<img class="fragment" width="900" src="img/lester/appcachesearch1.png" />
					<img class="fragment" width="900" src="img/lester/appcachesearch2.png" />
					</ul>
				</section>
				
				<section>
					<h2>Popularity</h2>
					<img class="fragment" src="img/lester/table.png" />
				</section>
				
				<section data-markdown>
					<script type="text/template">
						## The Manifest

						```
						<html manifest="index.appcache">
						  ...
						</html>
						```
						```
						CACHE MANIFEST
						# 2014-04-01
						
						CACHE:
						index.html
						scripts/main.js
						
						NETWORK:
						*
						
						FALLBACK:
						images/large images/offline.jpg
						
						```
					</script>
				</section>
				
				
				<section>
					<section>
						<h1>Gotcha!</h1>
						<a href="#" class="image navigate-down">
                            <img width="178" height="238" src="img/bora/down-arrow.png" alt="Down arrow">
                        </a>
					</section>
					<section>
						<h2>Once appcached always appcached</h2>
					</section>
					<section>
						<h2>Content only updates if the content of the manifest changes</h2>
					</section>
					<section>
						<h2>Double refresh</h2>
					</section>
					<section>
						<h2>The manifest is brittle</h2>
					</section>
				</section>
				
			
				<!-- LESTER -->
            
                <section data-background="http://jqueryto.com/assets/img/masthead.jpg">
					<h1 style="color: #eeeeee;">jQueryTO</h1>
					<h3 style="color: #eeeeee;">Thank you!</h3>
				</section>
                
                
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
                
                width: '85%',

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
